.SearchPage .input{
    display: flex;
}

.SearchPage .search_bar{
    flex: 1;
}


.SearchPage .hot_key{
    height: 200px;
    background: yellowgreen;
}

.SearchPage .left_icon{
    padding-top: 10px;
    width: 30px;
}















