.Header{
    width: 100%;
    background: rgb(240, 236, 236);
    position: fixed;
    z-index: 100;
    padding: 5px;
    box-sizing: border-box;
}

.Header .searchBar{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.Header .searchBar .input{
    display: inline-block;
    font-size: 14px;
    width: 230px;
    padding: 3px;
    background: rgb(221, 221, 221);
    border: none;
}

.Header .searchBar .iconfont{
    font-size: 26px;
}

.Header .category {
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}
.Header .category .icon_block{
    width: 50px;
}

.Header .category .icon_block i{
    margin-top: 20px;
    font-size: 10px;
}

.Header .category .swiper-slide{
    width: 43px !important;
}

.Header .category .active-slide{
    font-weight: bold;
}

.Header .category .center{
    width: 80%;
    overflow: hidden;
}

.Header .TabCard{
    position: absolute;
    left: 0;
    background: #FAFAFA;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.Header .TabCard ul {
    display: flex;
    flex-wrap: wrap;
}

.Header .TabCard ul li{
    padding: 4px 20px;
    margin: 0 13px 15px 0;
    background: #EEEEEE;
    border-radius: 3px;
}

.Header .active_li{
    color: orange;
}
